@model Portfolio.Models.StudentProfile

@{
    ViewBag.Title = "Edit Profile";
}

<h2>Edit Profile</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.Id)

        <div class="form-group">
            @Html.LabelFor(m => m.FullName)
            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Phone)
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Location)
            @Html.TextBoxFor(m => m.Location, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ProfileImageUrl)
            @Html.TextBoxFor(m => m.ProfileImageUrl, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Summary)
            @Html.TextAreaFor(m => m.Summary, new { @class = "form-control" })
        </div>

        <button type="submit" class="btn btn-success">Update</button>
    </div>
}

<p>@Html.ActionLink("Back to List", "Index")</p>
