@model Portfolio.Models.SocialLink

@{
    ViewBag.Title = "Add Social Link";
}

<h2>Add Social Link</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(m => m.Platform)
            @Html.TextBoxFor(m => m.Platform, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Url)
            @Html.TextBoxFor(m => m.Url, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.Label("Student")
            @Html.DropDownList("StudentProfileId", null, "-- Select --", new { @class = "form-control" })
        </div>

        <button type="submit" class="btn btn-primary">Save</button>

    </div>
}

<p>@Html.ActionLink("Back to List", "Index")</p>
