@model IEnumerable<Portfolio.Models.SocialLink>

@{
    ViewBag.Title = "Social Links";
}

<h2>Social Links</h2>

<p>
    @Html.ActionLink("Add Social Link", "Create")
</p>

<table class="table">
    <tr>
        <th>Platform</th>
        <th>URL</th>
        <th>Student</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Platform</td>
            <td><a href="@item.Url" target="_blank">@item.Url</a></td>
            <td>@item.StudentProfile.FullName</td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
