@model Portfolio.Models.Experience

@{
    ViewBag.Title = "Add Experience";
}

<h2>Add Experience</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(m => m.Company)
            @Html.TextBoxFor(m => m.Company, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Position)
            @Html.TextBoxFor(m => m.Position, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.StartDate)
            @Html.TextBoxFor(m => m.StartDate, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.EndDate)
            @Html.TextBoxFor(m => m.EndDate, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Description)
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.Label("Student")
            @Html.DropDownList("StudentProfileId", null, "-- Select --", new { @class = "form-control" })
        </div>

        <button type="submit" class="btn btn-primary">Save</button>

    </div>
}

<p>@Html.ActionLink("Back to List", "Index")</p>

