@model Portfolio.Models.Projects

@{
    ViewBag.Title = "Add Project";
}

<h2>Add Project</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Description)
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Url)
            @Html.TextBoxFor(m => m.Url, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ImageUrl)
            @Html.TextBoxFor(m => m.ImageUrl, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.Label("Student")
            @Html.DropDownList("StudentProfileId", null, "-- Select --", new { @class = "form-control" })
        </div>

        <button type="submit" class="btn btn-primary">Save</button>

    </div>
}

<p>@Html.ActionLink("Back to List", "Index")</p>

