@model Portfolio.Models.Education

@{
    ViewBag.Title = "Delete Education";
}

<h2>Delete Education</h2>

<p>Are you sure you want to delete this entry?</p>

<dl class="dl-horizontal">
    <dt>Institution</dt>
    <dd>@Model.Institution</dd>

    <dt>Degree</dt>
    <dd>@Model.Degree</dd>

    <dt>Student</dt>
    <dd>@Model.StudentProfile.FullName</dd>
</dl>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)

    <button type="submit" class="btn btn-danger">Delete</button>
}

<p>@Html.ActionLink("Back to List", "Index")</p>
