@model Portfolio.Models.Education

@{
    ViewBag.Title = "Edit Education";
}

<h2>Edit Education</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)

    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(m => m.Institution)
            @Html.TextBoxFor(m => m.Institution, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Degree)
            @Html.TextBoxFor(m => m.Degree, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.StartDate)
            @Html.TextBoxFor(m => m.StartDate, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.EndDate)
            @Html.TextBoxFor(m => m.EndDate, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Institution)
            @Html.TextAreaFor(m => m.Institution, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.Label("Student")
            @Html.DropDownList("StudentProfileId", null, "-- Select --", new { @class = "form-control" })
        </div>

        <button type="submit" class="btn btn-success">Update</button>

    </div>
}

<p>@Html.ActionLink("Back to List", "Index")</p>

